*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text{
    background-color: #fff;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    text-align: center;    
}